$fonts-heading: 'Quicksand', 'Helvetica Neue', sans-serif;
$fonts-body: 'Molengo', 'Times New Roman', serif;
$cloud: rgba(253, 253, 253, 1);
$gray: rgba(249, 249, 249, 1);
$cherry: rgba(215, 0, 96, 1);
$orange: rgba(241, 141, 5, 1);
$white: rgba(255, 255, 255, 1);
$green: rgba(97, 174, 36, 1);
$black: rgba(0, 0, 0, 1);